<% if object&.errors&.full_messages.any? %>
  <div class="alert alert-danger">
    <% object&.errors&.full_messages.each do |msg| %>
      <ul class="mb-0" >
        <li><%= msg %></li>
      </ul>
    <% end %>
  </div> 
<% end %>  