<header class="py-2 mb-2">
  <div class="container d-flex flex-wrap justify-content-center">
      <%= link_to image_tag("ps-logo.png", size: "255x55", alt: "Edit Entry"), root_path  %>
  </div>  
</header>
